%td{colspan: 8}
  = simple_form_for object, remote: true, html: { multipart: true } do |f|
    - if @hospital.errors.any?
      #errors
        %h2
        = pluralize(@hospital.errors.count, 'error')
        prevented this Pin from saving
      -#%ul.errors
      -#  - @hospital.errors.full_messages.each do |msg|
      -#    %li= msg

    .form-group
      = f.input :hospital_name, input_html: {class: 'form-control'}, wrapper: :inline
    .form-group
      = f.input :mobile_number, input_html: {class: 'form-control'}, wrapper: :inline
    .form-group
      = f.input :address, input_html: {class: 'form-control'}, wrapper: :inline
    .form-group
      = f.input :landline_number, input_html: {class: 'form-control'}, wrapper: :inline
    .form-group
      = f.input :number_of_beds, input_html: {class: 'form-control'}, wrapper: :inline
    .form-group
      = f.collection_check_boxes :specialty_ids, Specialty.all, :id, :name, checked: (object.specialty_ids)? JSON.parse(object.specialty_ids) : nil do |cb|
        .form-check
          = cb.label class: 'form-check-label' do
            = cb.check_box class: 'form-check-input'
            = cb.text
    = f.submit 'Save', class: 'btn btn-primary btn-sm'
    %button.btn.btn-link.cancel Cancel
