%table.table.table-striped.table-hover
  %thead
    %tr
      %th= smart_listing.sortable "Hospital Name", :hospital_name
      %th Address
      %th Mobile Number
      %th Landline Number
      %th Bed Capacity
  %tbody
    - smart_listing.collection.each do |hospital|
      %tr.editable{data: {id: hospital.id}}
        = smart_listing.render object: hospital, partial: "hospitals/hos", locals: {object: hospital}

    = smart_listing.item_new colspan: 8, link: new_hospital_path


= smart_listing.paginate