%td= object.hospital_name
%td= object.address
%td= object.mobile_number
%td= object.landline_number
%td= object.number_of_beds
%td= object.specialty_ids
%td.actions= smart_listing_item_actions [ {name:   :custom,
  url:  edit_hospital_path(object),   method: :put, remote: false},
 {name: :edit,    url: edit_hospital_path(object)},
 {name: :destroy, url: hospital_path(object), confirmation: "Are you sure you want to delete this?"}]
