-#%h1 Hospitals#index
-#- @hospitals.each do |hospital|
-#  .box.panel.panel-default
-#    .panle-body
-#      = hospital.mobile_number
-#      = Hospital::STATE.collect {|p| p[:name] if hospital.state == p[:id].to_i }[0]
-#      = Hospital::DISTRICTS.collect {|p| p[:name] if hospital.district == p[:id].to_i }[0]
-#      = Hospital::DISTRICTS.collect {|p| p[:name] if hospital.mandal == p[:id].to_i }[0]
-#
-#= link_to "New Hospital", new_hospital_path, class: "btn btn-default"
= smart_listing_render(:hospitals)
-#= link_to "New Hospital", new_hospital_path, class: "btn btn-default btn-sm"