%h1 Hospitals#show
.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-body
        %p.mobile_number= @hospital.mobile_number
        %p.mobile_number= @hospital.state
        %p.mobile_number= @hospital.district
        %p.mobile_number= @hospital.mandal
        %p.mobile_number= @hospital.village
      .panel-footer
        .row
          .col-md-6
            .btn-group.pull-right
              = link_to "Edit", edit_hospital_path, class: "btn btn-default"
              = link_to "Delete", hospital_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"
