/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bxslider
 *= require bootstrap-toggle
 *= require_tree .
 */
@import "bootstrap-sprockets";
// Import flatly variables
@import "bootswatch/flatly/variables";
// Then bootstrap itself
@import "bootstrap";
// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}
body { padding-top: 70px; }
//label { width: 200px; float: left; margin: 0 20px 0 0; }
//span { display: block; margin: 0 0 3px; font-size: 1.2em; font-weight: bold; }
//input { width: 200px; border: 1px solid #000; padding: 5px; }