!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HandyHealth
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -#%nav.navbar.navbar-default
    -#  .container-fluid
    -#    .navbar-brand= link_to "HandyHealth", root_path
    -#    - if true
    -#      %ul.nav.navbar-nav.navbar-right
    -#        %li= link_to "Hospital Info", hospitals_path
    -#        %li= link_to "Lab Info", root_path
    -#        %li
    -#          -#%input{:checked => "checked", "data-toggle" => "toggle", "data-on": "English",  "data-off":"Telugu", :type => "checkbox"}
    -#    - else
    -#      %ul.nav.navbar-nav.navbar-right
    -#        %li= link_to "Sign Up", root_path
    -#        %li= link_to "Sign In", root_path
      %nav.navbar.navbar-default
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#{root_path}"} HandyHealth
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to "Hospital Info", hospitals_path
            %li
              %a{:href => "#"} Link
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Dropdown
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li
                  %a{:href => "#"} Separated link
                %li.divider
                %li
                  %a{:href => "#"} One more separated link
          %form.navbar-form.navbar-left{:role => "search"}
            .form-group
              %input.form-control{:placeholder => "Search", :type => "text"}/
            %button.btn.btn-default{:type => "submit"} Submit
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#"} Link


    -#.container
    -#  %ul.bxslider
    -#    %li
    -#      %img{:src => '/assets/images.jpg', width: "40%" }
    -#    %li
    -#      %img{:src => '/assets/images1.jpg', width: "40%"}
    -#    %li
    -#      %img{:src => '/assets/images2.jpg', width: "40%"}
    -#    %li
    -#      %img{:src => '/assets/images3.jpg', width: "40%"}
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-info"
      = yield
